<div class="container mt-4">
    <div class="row">
        <div class="col-10">
            <input type="text" class="search-query form-control" placeholder="Buscar"/>
        </div>
        <div class="col-2 marginAuto margenIzquierdoMenos">
            <button type="button" class="">
                <span class="fa fa-search fa-2x"></span>
            </button>
        </div>
    </div>
    <div class="row btn-group vh-30 mt-5">
        <div class="col-6 mt-1">
            <a [routerLink]="['/codigo']" class="btn btn-primary btn-block btn-lg fixEspacio vh-15 centrarLink fuenteOscura">Escanear código de barras</a>
        </div>
        <div class="col-6 mt-1">
            <a [routerLink]="['/codigo-manual']" class="btn btn-primary btn-block btn-lg fixEspacio vh-15 centrarLink fuenteOscura">Introducir código manualmente</a>
        </div>
        <div class="col-6 mt-4">
            <a [routerLink]="['/listado-categorias']" class="btn btn-primary btn-block btn-lg fixEspacio vh-15 centrarLink fuenteOscura">Listado de categorías</a>
        </div>
        <div class="col-6 mt-4">
            <a [routerLink]="['/registrar']" class="btn btn-primary btn-block btn-lg fixEspacio vh-15 centrarLink fuenteOscura">Registrar producto</a>
        </div>
    </div>
</div>
