<div class="mt-3">
    <div class="col">
        <div class="row">
            <div class="col-6">
                <img *ngIf="alimento" src="/assets/{{alimento.imgPath}}" alt="Imagen del producto" class="imagen-item"/>
            </div>
            <div class="col-6" *ngIf="alimento">
                <h4>{{alimento.nombreProducto}}</h4>
                <p>{{alimento.nombreFabricante}}</p>
                <button type="button" class="btn btn-primary" (click)="addACarrito()">Añadir lista compra</button>
            </div>
        </div>
    </div>

    <div class="col mt-4 mb-5">
        <h5>Listado de alérgenos:</h5>
        <ul class="listaSinPuntos" *ngIf="alimento">
            <app-alergeno *ngFor="let alergeno of alimento.alergenos" [alergeno]=alergeno></app-alergeno>
        </ul>
    </div>
</div>
