<div class="container text-center">
    <form class="form-signin">
        <h2 class="mb-3">Inicio de sesión</h2>
        <input type="email" id="inputEmail" class="form-control" placeholder="Direccion de correo" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control mt-1" placeholder="Contraseña" required="">
        <div class="checkbox mb-3 mt-1">
            <input type="checkbox" value="remember-me"> Recordar sesión
        </div>
        <!--<button class="btn btn-lg btn-primary fixEspacio" type="submit">Iniciar sesion</button><br>-->
        <a [routerLink]="['/home']" class="btn btn-lg btn-primary fixEspacio">Iniciar sesión</a><br>
        <a href="index.html" class="btn btn-lg fixEspacio">Registrarse</a>
    </form>
</div>
